<!DOCTYPE html>
<html ng-app="listTelephone">
  <head>
    <meta charset="utf-8">
    <title>Working with angular</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="app/css/app.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/js/controllers/listPhoneNumber.js"></script>
    <script type="text/javascript" src="app/js/services/contactAPIService.js"></script>

  </head>
  <body ng-controller="listTelephoneCtrl">
    <div class="jumbotron">
      <h3 ng-bind="app"></h3>
      <input class="form-control" type="text" ng-model="criteriaOfSearch" placeholder="What do you searching?">
      <table class="table table-striped">
        <tr>
          <th><th>
          <th><a href="" ng-click="orderBy('name')">Name</a></th>
          <th><a href="" ng-click="orderBy('phone')">Phone</a></th>
          <th>Date</th>
          <th>Carrier</th>
        </tr>
        <tr ng-class="{'selected bold': contact.selected}" ng-repeat="contact in contacts | filter:criteriaOfSearch | orderBy:criteriaOrderBy:directOfOrder">
            <td><input type="checkbox" ng-model="contact.selected" /><td>
            <td ng-bind="contact.name"></td>
            <td ng-bind="contact.phone"></td>
            <td ng-bind="contact.date | date: 'dd/MM/yyyy HH:mm'"></td>
            <td ng-bind="contact.operator.name"></td>
        </tr>
      </table>
      <hr>
      <form name="contactForm">

          <input class="form-control"
                 type="text"
                 name="name"
                 placeholder="Enter your name"
                 ng-model="contact.name"
                 ng-required="true"
                 ng-minlength="10">
          </input>

          <input class="form-control"
                 type="text"
                 name="phone"
                 placeholder="Enter phone number"
                 ng-model="contact.phone"
                 ng-required="true"
                 ng-minlength="10"
                 ng-maxlength="12"
                 ng-pattern="/^\d{4,5}-\d{4}$/">
          </input>

          <select class="form-control"
                  name="operator"
                  ng-required="true"
                  ng-model="contact.operator"
                  ng-options="operator.name group by operator.category for operator in operators | filter:name">
                  <option value="">Select a carrier</option>
          </select>
          <div ng-show="contactForm.phone.$dirty" ng-messages="contactForm.name.$error" class="alert alert-danger">
            <div ng-message="required" >
              Please, insert your name.
            </div>
            <div ng-message="minlength">
              O field name, should minimum 10 chars
            </div>
          </div>
          <div ng-show="contactForm.phone.$error.required && contactForm.phone.$dirty" class="alert alert-danger">
            Please, insert your phonenumber.
          </div>
          <div ng-show="contactForm.phone.$error.pattern" class="alert alert-danger">
            The field phone-number should have the format DDDD-DDDD
          </div>
          <div ng-show="contactForm.operator.$invalid && contactForm.operator.$dirty " class="alert alert-danger">
            Please, insert your carriere.
          </div>
        </form>
        
        <button class="btn btn-primary btn-block"
                type="button"
                name="button"
                ng-click="addContact(contact)"
                ng-disabled="false">
                Add Contact
        </button>

        <button class="btn btn-danger btn-block"
                type="button"
                name="button"
                ng-click="removeContactSelected(contacts)"
                ng-disabled="!isContactSelected(contacts)">
                Remove Contact
        </button>
    </div>
  </body>
</html>
