.jumbotron {
  padding-left: 20px;
  padding-right: 20px;
  width: 800px;
  text-align: center;
  margin-top: 20px;
  margin-left:  auto;
  margin-right: auto;
}
.table{
  text-align: left;
  margin-top: 20px;
}
.form-control{
  margin-bottom: 5px;
}
.selected{
  background-color: yellow;
}
.bold{
  font-weight: bold;
}
